<div *ngIf="isLoading" class="loading-spinner">
  <span class="loader"></span>
</div>

<div *ngIf="!isLoading" class="container">
  <div class="header">
    <h1>{{ pageTitle }}</h1>
  </div>

  <div class="banner">
    <img *ngIf="imagenesApi.imagen2" [src]="imagenesApi.imagen2" alt="Banner" class="banner-img" />
  </div>

  <div class="content">
    <h2>{{ welcomeTitle }}</h2>
    <p>{{ description }}</p>
    <p>{{ podcastInfo }}</p>
    <p>{{ invitationMessage }}</p>
    <p>{{ eventDate }}</p>
  </div>

  <form [formGroup]="form" class="form">
    <div class="form-row">
      <ng-container *ngFor="let campo of campos">
        <div class="form-group" *ngIf="campo.mostrar">
          <!-- Título para cada input -->
          <label>{{ campo.title }}</label>
          
          <!-- Para los campos de tipo text -->
            <input 
            *ngIf="campo.tipo !== 'date' && campo.nombre !== 'genero'" 
            type="text" 
            formControlName="{{ campo.nombre }}" 
            placeholder="{{ campo.placeHolder }}"
            />
          
          <!-- Campo tipo date -->
          <input 
            *ngIf="campo.tipo === 'date'" 
            type="date" 
            formControlName="{{ campo.nombre }}" 
            placeholder="{{ campo.placeHolder }}"
          />
          <!-- Campo tipo select para género -->
          <select 
          *ngIf="campo.nombre === 'genero'" 
          formControlName="{{ campo.nombre }}" 
          class="form-select"
            >
          <option value="" disabled selected>{{ campo.placeHolder }}</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
          <option value="Otro">Otro</option>
         </select>
         
          <!-- Manejo de errores -->
          <div *ngIf="isFieldInvalid(campo.nombre)" class="error-message">
            <span *ngIf="campo.nombre === 'email' && form.get(campo.nombre)?.errors?.['email']">
              Correo electrónico no válido
            </span>
            <span *ngIf="campo.nombre === 'celular' && form.get(campo.nombre)?.errors?.['pattern']">
              Debe ser un número de celular válido
            </span>
            <span *ngIf="campo.nombre === 'cedula' && form.get(campo.nombre)?.errors?.['pattern']">
              Debe ser un número de cédula válido
            </span>
            <span *ngIf="!(campo.nombre === 'email' || campo.nombre === 'celular' || campo.nombre === 'cedula')">
              Obligatorio
            </span>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="footer">
      <p>{{ legalText }}</p>
    </div>

    <div class="checkbox-row">
      <div style="display: flex; flex-direction: column; align-items: flex-start;">
        <div style="display: flex; align-items: center;">
          <input type="checkbox" id="accept" formControlName="accept" />
          <label for="accept" style="margin-left: 5px;">{{ checkboxText }}</label>
        </div>

        <!-- Mostrar mensaje debajo del checkbox si no está marcado -->
        <div *ngIf="form.get('accept')?.invalid && (form.get('accept')?.touched || form.get('accept')?.dirty)" class="error-message" style="margin-top: 5px;">
          Debes aceptar los términos antes de continuar.
        </div>
      </div>
    </div>

    <button type="button" class="btn-submit" (click)="onSubmit()">SUSCRIBIRME</button>
    <a href="#" class="cancel-link">No, gracias</a>
  </form>


  <!-- Nuevo formulario para enviar correo con archivo adjunto -->
  <form class="form-send-mail">
    <!-- <div class="form-group">
      <label>Correo:</label>
      <input type="email" [(ngModel)]="mailData.to" placeholder="Destinatario" required />
    </div>
    <div class="form-group">
      <label>Asunto:</label>
      <input type="text" [(ngModel)]="mailData.subject" placeholder="Asunto" required />
    </div>
    <div class="form-group">
      <label>Mensaje:</label>
      <textarea [(ngModel)]="mailData.message" placeholder="Mensaje" required></textarea>
    </div> -->
    <!-- <div class="form-group">
      <label>Archivo adjunto:</label>
      <input type="file" (change)="onFileSelected($event)" />
    </div> -->
    <button type="button" (click)="sendMail()" class="btn-submit">Enviar correo</button>
  </form>
</div>